# export NIXPKGS_ALLOW_INSECURE=1
export QT_AUTO_SCREEN_SCALE_FACTOR=1
export CMAKE_EXPORT_COMPILE_COMMANDS=1
export CMAKE_BUILD_TYPE=Debug
export CXX=g++
export CC=gcc
# use flake . --impure
# eval $(guix shell -D --search-paths)
