[Desktop Entry]
Type=Application
Name=Libre Presenter
GenericName=Church Presentation
Comment=A Kirigami based church presenter
Exec=presenter %U
TryExec=presenter
Icon=present
StartupNotify=true
Terminal=false
Categories=presentation