[Desktop Entry]
Type=Application
Name=present
GenericName=Church Presentation
Comment=A Kirigami based church presenter
Exec=present %U
TryExec=present
Icon=present
StartupNotify=true
Terminal=false
Categories=presentation
